.top {
		background-color: #ffa900;
		min-height: 90px;
		display: flex;
		align-items: center;
		padding: 0px 20rpx;
		font-size: 12px;
	}
   .top-menu{
	   display: flex;
	   align-items: center;
   }
   .body{
	   background-color: #F2F2F2;
	   padding: 0px 20rpx;
	   border-radius: 40rpx 40rpx 0 0;
	   margin-top: -20px;
	   min-height: 90px;
   }
   .search{
	   padding:0px!important;
	   margin: 10px 0px 0px 0px;
    }
    .search>view{
		padding:0px!important;
	}
   .field-class{
	   padding: 0px 10px!important;
	   background-color: #e3e4e5;
	   border-radius: 100px!important;
   }
   .menu-botton{
	   font-size: 10px;
	   padding: 2px 7px;
	   border-radius: 30px;
	   background-color: #e3e4e5;
   }
   .daohang{
	   display: flex;
	   flex-flow: wrap row;
	   justify-content: space-around;
	   align-content: space-around;
	   padding: 5px 0px 5px 0px;
   }
   .daohang>view{
	   display: flex;
	   flex-flow: nowrap column;
	   align-items: center;
	   font-size: 10px;
   }
   .daohang .tb{
	   padding: 11px;
	   background-color: #000000;
	   border-radius: 50%;
	   display: flex;
	   justify-content: center;
	   align-items: center;
   }
   .daohang .tb>image{
	   width: 21px;
	   height: 21px;
   }